{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": null,
    "target": "es2020",
    "baseUrl": ".",
    "loose": false,
    "externalHelpers": true,
    "keepClassNames": false,
    "paths": {
      "baseUrl": ["."],
      "~/*": ["./src/*"],
      "~/graphql": ["./src/providers/graphql"]
    }
  },
  "module": {
    "type": "commonjs"
  }
  // "minify": true
}
